<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content= "width=device-width, user-scalable=no">
    <link rel="shortcut icon" href="/photos/dicon.png" type="image/x-icon">
    <title>Deepak | Website Developer</title>
    <link href="https://fonts.googleapis.com/css2?family=Aclonica&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="styles.css">    
</head>
<body>
    <header>
      <div class="navbar-fixed">
        <nav class='transparent'>
            <div class="nav-wrapper container">
              <a href="https://deepaksoni.herokuapp.com" class="brand-logo">Deepak</a>              
              <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
              <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="#about">About</a></li>                
                <li><a href="#skills">Skills</a></li>
                <li><a href="#services">Services</a></li>
                <li><a href="#projects">Projects</a></li>                
                <li><a href="#contact">Contact</a></li>
                <li ><a class="btn-floating btn-small transparent" href="https://www.facebook.com/deepaksoni06"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
              </ul>
            </div>
          </nav>          
      </div> 
      
      <ul id="slide-out" class="sidenav">
        <li><div class="user-view">
          <div class="background">
            <img src="photos/cover.png">
          </div>
          <a href="#user"><img class="circle" src="photos/profile1.jpg"></a>
          <a href="#name"><span class="white-text name">Deepak Soni</span></a>
          <a href="#email"><span class="white-text email">deepaksoni@outlook.in</span></a>
        </div></li>
        <li><a href="#about"><i class="material-icons">perm_contact_calender</i>About</a></li>
        <li><a href="#skills"><i class="material-icons">code</i>Skills</a></li>
        <li><a href="#services"><i class="material-icons">assignment</i>Services</a></li>
        <li><a href="#projects"><i class="material-icons">assignment_turned_in</i>Projects</a></li>
        <li><a href="#contact"><i class="material-icons">call</i>Contact</a></li>
        <li><div class="divider"></div></li>
        <div class="ico">
          <a  href="https://www.facebook.com/deepaksoni06" class="btn-floating btn-small left-align grey darken-4"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
          <a  href="https://twitter.com/hedonist_6" class="btn-floating btn-small center-align grey darken-4"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
          <a  href="https://www.linkedin.com/in/deepaksoni10/" class="btn-floating btn-small center-align grey darken-4"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
          <a  href="https://www.instagram.com/deepaksoni10/" class="btn-floating btn-small center-align grey darken-4"><i class="fa fa-instagram" aria-hidden="true"></i></a>
      </div>
      </ul>
      

          <p class="grey-text text-darken-6 flow-text quote">"Quality is not an act, It is a habit." - Aristotle</p>
    </header>

    <section class="section container scrollspy" id='about'>
        <div class="row ">
            <div class="col s12 grey lighten-4">
                <h4 class="grey-text text-darken-1 center-align">
                    Freelance Web Designer & Developer based in Chandigarh, India. Highly professional and experienced in designing & developing custom websites.
                </h4>
            </div>
        </div>
        <div class="row grey lighten-4">
            <div class="col s12 l4">
                <img src="photos/deepak.jpg" alt="" class="responsive-img materialboxed">
            </div>
            <div class="col s12 l6 offset-l2 flow-text">
                <p>Name: Deepak Soni</p>
                <p>Birthday: 14<sup>th</sup> Nov</p>
                <p>Zodiac: Scorpion</p>
                <p>Qualification: B.tech in Computer Science</p>
                <p>Hobbies: Workout, Travelling, Watching Web Series</p>
            </div>
        </div>
    </section>

    <section class="section container scrollspy" id="skills">
        <div class="row">
          <h2 class="indigo-text text-darken-4">Skills</h2>
            <div class="col s12 l4 center-align">
                <h5>HTML5</h5>
                <div class="bar-wrapper">
                  <img src="/photos/html.png" alt="html" width='60'>
                  <div id="html"></div>
                </div>                
            </div>
            <div class="col s12 l4 center-align">
                <h5>CSS3</h5>
                <div class="bar-wrapper">
                  <img src="/photos/css.png" alt="css" width='60'>
                  <div id="css"></div>
                </div>
            </div>
            <div class="col s12 l4 center-align">
                <h5>Javascript</h5>
                <div class="bar-wrapper">
                  <img src="/photos/js.png" alt="js" width='60'>
                  <div id="javascript"></div>
                </div>
            </div>     
        </div>
        <div class="row">
            <div class="col s12 l4 center-align">
                <h5>Node JS</h5>
                <div class="bar-wrapper">
                  <img src="/photos/node.png" alt="node" width='55'>
                  <div id="nodejs"></div>
                </div>
            </div>
            <div class="col s12 l4 center-align">
                <h5>Mongo DB</h5>
                <div class="bar-wrapper">
                  <img src="/photos/mongodb.png" alt="mongodb" width='60'>
                  <div id="mongodb"></div>
                </div>
            </div>
            <div class="col s12 l4 center-align">
                <h5>Express</h5>
                <div class="bar-wrapper">
                  <img class="barImg" src="/photos/express.png" alt="express" width='60'>
                  <div id="express"></div>
                </div>
            </div>     
        </div>
    </section>

    <section class="section container scrollspy grey lighten-5" id="services">
        <div class="row">
          <div class="col s12 l4">
            <h2 class="indigo-text text-darken-4">What I do..</h2>         
            <p>After graduating in 2011 with a Bachelor's Degree in Computer Science, I spent my last 9 years woking for my friends' startup based in Gurgaon, India. Recently, I started freelancing as well for some extra income and to spend my precious time with family. I've acquired project and time management skills, as well as the ability to communicate with team members and clients while accomplishing milestone and deadlines.</p>
          </div>
          <div class="col s12 l6 offset-l2">
            <!-- tabs -->
            <ul class="tabs grey lighten-5">
              <li class="tab col s6">
                <a href="#web-dev" class="active indigo-text text-darken-4">Web Development</a>
              </li>
              <li class="tab col s6">
                <a href="#web-design" class="indigo-text text-darken-4">Web Designing</a>
              </li>
            </ul>
            <div id="web-dev" class="col s12">
                <p>I have worked efficiently and diligently in Web Development using my skills in HTML5, CSS3, Materialize CSS (By Google), NodeJS, Express and MongoDB. I'v polished my skills over the years and sticking to the streak.</p>
            </div>
            <div id="web-design" class="col s12">
                <p>I first started as a Web Developer but with time I started getting hold on designing as well and got appericated for my work. It boosted my confidence and since then I never looked back.</p>
                <p>Now I can design logo, landing page, icons and a good looking template as well, in fact the designs of my website and projects are mine. </p>
            </div>
            </div>
          </div>
        </div>
      </section>

      
    <section class="section container scrollspy" id="projects">
        <div class="row">
          <div class="col s12 l4">
              <img src="photos/farm.PNG" alt="" class="responsive-img materialboxed">
          </div>
          <div class="col s12 l6 offset-l1">
            <h3 class="indigo-text text-darken-4">Milk Delivering Web App</h3>
            <p>In this tech era who wants to go out everytime and grab a packet of milk. Keeping this thought in mind I made a web app for delivering milk daily at customer's doorsteps.</p>
            <p>I used HTML5, CSS3, Javascript, Express EJS for front-end and NodeJS, MongoDB for Backend.</p>
        </div>
        </div>
        <div class="row">
          <div class="col s12 l4 offset-l1 push-l7">
              <img src="photos/weather.PNG" alt="" class="responsive-img materialboxed">
          </div>
          <div class="col s12 l6 offset-l1 pull-l5">
            <h3 class="indigo-text text-darken-4">Weather Finder</h3>
            <p>The web app is useful in finding the current weather and AQI- Air Quality Index for user's current location.</p>
            <p>I used HTML5, CSS3, NodeJS and Openweathermap API to accomplish this task.</p>
          </div>
        </div>
        <div class="row">
          <div class="col s12 l4">
              <img src="photos/laptop.jpg" alt="" class="responsive-img materialboxed">
          </div>
          <div class="col s12 l6 offset-l1">
            <h3 class="indigo-text text-darken-4">My Own Website</h3>
            <p>I didn't want to outsource this job when I am good at this :). I developed and designed my website all by myself.</p>
            <p>By using HTML5, Materialize CSS, JQuery, NodeJS and MongoDB I gave a new life to it. If you want too I can build a good, nice looking website for you as well. Please get in touch.</p>
          </div>
        </div>        
      </section>

      <section class="container section scrollspy" id="contact">
        <div class="row grey lighten-4">            
            <div class="col s12 l4 border-bottom">
                <h5 class="teal-text">Get in touch</h5>
                <h5>
                    <i class="material-icons prefix">email</i>                    
                </h5>
                <p>Email: deepaksoni@outlook.in</p>
                <h5>
                    <i class="fa fa-skype" aria-hidden="true"></i>
                </h5>
                <p>Skype: deepaksoni10</p>
                <h5>
                    <i class="fa fa-facebook-square" aria-hidden="true"></i>
                </h5>
                <p>Facebook: @deepaksoni06</p>
            </div>
            <div class="col s12 l6 offset-l2">
                <h5 class="teal-text">Have a Query ?</h5>
                <% if (msg){ %>
                    <p class='msgSent' flow-text green white-text text-lighten-3><%= msg%></p>
                <% } %>
                <form action="/email" method="POST">
                    <div class="input-field">
                      <i class="material-icons prefix">email</i>
                      <input type="email" name="email" id="email">
                      <label for="email">Your Email</label>
                    </div>
                    <div class="input-field">
                      <i class="material-icons prefix">message</i>
                      <textarea id="message" name="textarea" class="materialize-textarea" cols="20" rows="20"></textarea>
                      <label for="message">Your Message</label>
                    </div>
                    <div class="input-field">
                      <i class="material-icons prefix">date_range</i>
                      <input type="text" id="date" name="date" class="datepicker">
                      <label for="date">Choose a date you need me for...</label>
                    </div>
                    <div class="input-field">
                      <p>Services required:</p>
                      <p>
                        <label>
                          <input type="checkbox" name="webdev">
                          <span>Web Development</span>
                        </label>
                      </p>
                      <p>
                        <label>
                          <input type="checkbox" name="webdesign">
                          <span>Web Designing</span>
                        </label>
                      </p>
                    </div>
                    <div class="input-field center">
                      <button class="btn waves-effect">Submit</button>
                    </div>
                  </form>
            </div>
        </div>
      </section>

      <footer class="page-footer teal darken-3">
        <div class="container">
          <div class="row">
            <div class="col l6 s12">
              <h5>About</h5>
              <p>I am a Web Designer and Developer based in Chandigarh, India who is highly professional and work diligently to make his clients happy. </p>
            </div>
            <div class="col l4 offset-l2 s12">
              <h5 class="white-text">Follow</h5>
              <ul>
                <li class='btn-floating btn-small center-align teal darken-2'><a  href="https://www.facebook.com/deepaksoni06"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
                <li class='btn-floating btn-small center-align teal darken-2'><a  href="https://twitter.com/hedonist_6"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
                <li class='btn-floating btn-small center-align teal darken-2'><a  href="https://www.linkedin.com/in/deepaksoni10/"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
                <li class='btn-floating btn-small center-align teal darken-2'><a  href="https://www.instagram.com/deepaksoni10/"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="footer-copyright grey darken-4">
          <div class="container center-align">&copy; 2020 Deepak</div>
        </div>
        <a class='btn-floating teal' href="#" id="scroll" style="display: none;"><span></span></a>
      </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://cdn.rawgit.com/kimmobrunfeldt/progressbar.js/0.6.1/dist/progressbar.js"></script>
   <script>
        $(document).ready(function(){
            $('.sidenav').sidenav();
            $('.tabs').tabs();
            $('.materialboxed').materialbox();
            $('.scrollspy').scrollSpy();
            $('.datepicker').datepicker({
                disableWeekends: true,
                 yearRange: 1
            });
        });

        /********SKILLS Cicles**********/
        var html = new ProgressBar.Circle('#html', {
            strokeWidth: 6,
            easing: 'easeInOut',
            duration: 3000,
            color: 'teal',
            trailColor: '#d2d2d2',
            trailWidth: 1,
            svgStyle: null
        });
        html.animate(.95);

        var css = new ProgressBar.Circle('#css', {
            strokeWidth: 6,
            easing: 'easeInOut',
            duration: 3000,
            color: 'teal',
            trailColor: '#d2d2d2',
            trailWidth: 1,
            svgStyle: null
        });
        css.animate(.95);

        var javascript = new ProgressBar.Circle('#javascript', {
            strokeWidth: 6,
            easing: 'easeInOut',
            duration: 3000,
            color: 'teal',
            trailColor: '#d2d2d2',
            trailWidth: 1,
            svgStyle: null
        });
        javascript.animate(.8);

        var nodejs = new ProgressBar.Circle('#nodejs', {
            strokeWidth: 6,
            easing: 'easeInOut',
            duration: 3000,
            color: 'teal',
            trailColor: '#d2d2d2',
            trailWidth: 1,
            svgStyle: null
        });
        nodejs.animate(.8);

        var mongodb = new ProgressBar.Circle('#mongodb', {
            strokeWidth: 6,
            easing: 'easeInOut',
            duration: 3000,
            color: 'teal',
            trailColor: '#d2d2d2',
            trailWidth: 1,
            svgStyle: null
        });
        mongodb.animate(.95);

        var express = new ProgressBar.Circle('#express', {
            strokeWidth: 6,
            easing: 'easeInOut',
            duration: 3000,
            color: 'teal',
            trailColor: '#d2d2d2',
            trailWidth: 1,
            svgStyle: null
        });
        express.animate(.85);

        /********Back to top************/
        $(document).ready(function(){ 
            $(window).scroll(function(){ 
            if ($(this).scrollTop() > 100) { 
                $('#scroll').fadeIn(); 
            } else { 
                $('#scroll').fadeOut(); 
            } 
        }); 
        $('#scroll').click(function(){ 
            $("html, body").animate({ scrollTop: 0 }, 600); 
            return false; 
            }); 
        });


        /****Change Nav color on scroll******/

        let scrollpos = window.scrollY
        const header = document.querySelector("header");
        const nav = document.querySelector("nav");
        const header_height = header.offsetHeight;

        const addClass = () =>{ nav.classList.add("bg-color");nav.classList.remove('transparent');}
        const removeClass = () =>{ nav.classList.remove("bg-color");nav.classList.add('transparent');}

        window.addEventListener('scroll', function() { 
            scrollpos = window.scrollY;
            if (scrollpos >= header_height) { addClass();console.log('added') }
            else { removeClass() }

          console.log(scrollpos)
        })
    </script>    
</body>
</html>